[submodule "IMU_Sensor_Fusion"]
	path = IMU_Sensor_Fusion
	url = https://github.com/malloch/IMU_Sensor_Fusion
[submodule "liblo"]
	path = standalone/liblo
	url = https://github.com/radarsat1/liblo.git
